$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-user: "\e900";
$icon-spinner2: "\e97b";
$icon-search: "\e986";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-cogs: "\e995";
$icon-list-numbered: "\e9b9";
$icon-list: "\e9ba";
$icon-list2: "\e9bb";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-loop2: "\ea2e";

