@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../fonts/fonts.css';

$textcolor: #313f61;
$red: #ea665c;
$white: #fff;
$glow: 0px 0px 6px #ea665c;
$global-font:  Gotham Pro;
$font-weight: 500;
$gray-blue: #e9eff8;
$light-blue:#7082a3;
$outerline: #eef2f7;

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background-color: #f5f6fa;
  overflow-y: scroll;
  font-family: $global-font;
  font-weight: $font-weight;
}
.container{
  min-height:0px!important;
}

input{
  outline:none;
}

.navbar-brand  img{
  max-width:100px;
}
.wrapper_main.container {
  min-height: 100vh !important;
  align-items: flex-start;
  padding-top: 100px;
}

.page {
  width: 100%; 
}
.block {
  margin-bottom: 20px;
}
h1 {
  text-align: left;
  font-size: 20px;
}

#navigation_main.bg-light {
  background-color: #fff !important;
  box-shadow: 0px 3px 3px #ccc;
  padding: 0;

  .brand {
    width: 120px;
  }

  .navbar {
    padding: 0px !important;
  }

  @media(min-width:1100px) {
    .container {
      justify-content: start;
    }
  }

  .navbar-light .navbar-toggler {
    border: transparent;
  }

  .nav-link {
    display: block;
    padding: 28px 10px;
    text-transform: uppercase;
    color: #bbb;
    font-family: Gotham Pro;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: #7082a3;
    position: relative;

    &:active, &:hover, &.nuxt-link-active {
      color: #000;
    }

    &:active:after, &:hover:after, &.nuxt-link-active:after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      position: absolute;
      background-color: #ea665c;
      border-radius: 2px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      top: auto;
    }
  }

  .dropdown-currency {
    min-width: 146px;

    & > button > .currency-icon {
      margin-right: 8px;
    }
  }

  .dropdown-currency button {
    background: #fff !important;
    border: 1px solid transparent;
    line-height: 35px;
    font-family: Gotham Pro;
    font-weight: 500;
    font-style: normal;
    width: 100%;
    color: #7082a3;
    text-align: left;
  }

  .dropdown-menu {
    display: block;
    box-shadow: 0px 3px 5px #ccc;
    top: 100%;
    width: 100%;
    min-width: 0px;
    border: none;
    padding: 0px;

    button {
      padding: 0.375rem 0.75rem;
      outline: none;

      &:hover {
        background: #eee !important;
        cursor: pointer;
      }
    }
  }
}

.currency-icon {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-position: center;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-right: 15px;

  &.btc {
    background-image: url('~assets/img/Bitcoin.svg');
  }

  &.dash {
    background-image: url('~assets/img/dash-3.svg');
  }

  &.ltc {
    background-image: url('~assets/img/litecoin.svg');
  }
}

.main {
  width: 100%;
  display: block;
}

.block {

  .block-title {
    font-family: Gotham Pro;
    font-weight: 500;
    font-style: normal;

    h2 {
      font-size: 20px;
    }
  }

  .block-body {
  }
}

.plate {
  background-color: #fff;
  border: 1px solid $outerline;
  min-height: 200px;
  height: auto;
  width: auto;
  display: block;
  padding: 20px 15px;
  text-align: justify;

  .plate_title {
    &.filled {
      background-color: #e9eff8;
      margin: -15px;
      margin-top: -20px;
      padding: 20px 15px;
    }

    h3 {
      text-align: left;
      font-size: 20px;
      font-family: Gotham Pro;
      font-weight: 500;
      font-style: normal;
      color: #7082a3;
    }
  }

  .plate_body {

    &.max-width {
      margin: -20px -15px;
    }
  }

  .plate-footer {
  }
}

.prop_container {
  display: flex;
  flex-direction: column;


  .prop_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
  }

  .prop_name, .prop_value {
    display: flex;
    align-items: center;
  }

  .prop_value {
    font-size: 26px;
    color: #313f61;
    font-family: Gotham Pro;
    font-weight: 500;
    font-style: normal;

    i {
      font-style: normal;
      font-size: 15px;
      vertical-align: bottom;
      line-height: 30px;
      margin-left: 5px;
    }
  }

  .prop_name {
    font-family: Gotham Pro;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #7082a3;
    position: relative;
  }
}

.block-title {
  text-align: left;
  font-size: 20px;
}
#block-statistics {
  .plate{
    height:100%;
  }

  .block_statistics_currency_course {
    text-align: right;
    font-size: 17px;

    i {
      font-style: normal;
    }
  }
}

.table_graphic_plate{
 
}

.table_data {
  width: 100%;
  border-collapse: collapse;

  &.history-notify, &.statistics, &.payments, &.accountants {
    tr {
      th {
        border-bottom: 1px solid $outerline;
        font-size: 16px;
      }

      td, th {
        padding: 20px 30px;
      }
    }
  }

  &.statistics {
    tr {
      td:nth-child(1) {
        border-right: 1px solid $outerline;
        width: 30%;
        text-align: right;
        color: $light-blue;
      }
    }
  }

  &.payments, &.accountants {
    tr {
      th {
        border-bottom: 1px solid $outerline;
      }

      td, th {
        padding: 20px 30px;
        text-align: right !important;
      }
    }
  }

  tr {

    th {
      font-family: Gotham Pro;
      font-weight: 500;
      font-style: normal;
      font-size: 16px;
      color: #7082a3;
      text-align: right;
      padding: 10px;
      color: $light-blue;

      &:nth-child(1) {
        text-align: left;
      }
    }

    td {
      padding: 10px;
      min-height: 40px;
      font-size: 13px;
      text-align: center;
    }

    td, th {
      padding: 20px 30px;
    }

    &:nth-child(2n) {
      background-color: #f8fbff;
    }
  }
}

.block_user {

  .user_name {
    font-family: Gotham Pro;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: #7082a3;
  }
}


.helppage_subnav {
  button {
    display: block;
    padding: 10px 10px; 
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    color: #bbb;
    font-family: Gotham Pro;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: #7082a3;
    position: relative;
    background-color: transparent;

    &:hover, &:active, &:focus,&.active {
      background-color: #ea665c;
      color: #fff;
      outline: none;
    }
  }
}

.el_question {
  background-color: $red;
  box-shadow: $glow;
  color: $white;
  text-align: center;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 18px;
  border-radius: 30px;
  vertical-align: middle;
  margin-left: 15px;
  &:hover{
    cursor:pointer;

  }
}

.help_text {
  font-size: 13px;
  font-family: Gotham Pro;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 60px;
  margin-top: 20px;
}



.settings {
  .plate{
    min-height:285px;
  }
  .form-sub-header {
    font-size: 16px;
    color: $light-blue;
    font-family: $global-font;
    font-weight: $font-weight;
    margin-bottom: 30px;
  }

  .option-label {
    color: $textcolor;
    font-size: 13px;
    font-family: $global-font;
    font-weight: $font-weight;
  }

  .url-label {
    color: #7082a3;
    font-family: $global-font;
    font-weight: $font-weight;
    font-size: 13px;
  }

  .controll {
    font-size: 14px;
    background: $gray-blue;
    border: 1px solid transparent;
    color: $textcolor;
    height: 34px;
    font-family: $global-font;
    font-weight: $font-weight;

    &.option-selector {
      display: flex;
      flex-direction: row;
      background: transparent;
      border: 1px solid #bbb;
      width: 120px;

      .option {
        display: block;
        background: #eee;
        height: 100%;
        width: 60px;
        text-align: center;
        opacity: 0.5;
        cursor: pointer;
        border: 1px solid transparent;
        color: $textcolor;
        outline: none;

        &:nth-child(1) {
          border-right: 1px solid #bbb
        }

        &:active, &:hover, &:focus, &.active {
          opacity: 1;
          background: $white;
        }

        .option-text {
          vertical-align: middle;
          font-family: $global-font;
          font-weight: 500;
        }
      }
    }


    &.btn {
      width: 150px;
      display: block;
      text-align: center;
      border-radius: 20px;
      margin-bottom: 10px;
      line-height: 1;
      height: 30px;

      &:active, &:hover, &:focus, &.active {
        background: $red;
        border: 1px solid $red;
        color: $white;
        box-shadow: $glow;
        transition: 0.2s all;
      }
    }

    &.field-text {
      color: $textcolor;
      background: $gray-blue;
      width: 200px;
      padding: 0 15px;
      font-size: 16px;
      line-height: 16px;
      border-radius: 20px;
      display: block;
    }

    &.checkbox {
      width: 30px;
      height: 30px;
      font-size: 20px;
      border-radius: 3px;
      vertical-align: middle;
      text-align: center;
      color: white;
      cursor: pointer;
      margin: 0px;
      background: $gray-blue;
      color: $gray-blue;

      &.active, &:hover, &.active, &:focus {
        color: $white;
        background: $red;
      }
    }

    &.switcher {
      position: relative;
      display: inline-block;
      width: 100px;
      border-radius: 30px;
      cursor: pointer;

      .switcher-label {
        color: $textcolor;
        padding: 6px;
        margin: 0px;
        vertical-align: middle;
        text-align: center;
        font-size: 14px;
        margin-right: auto;
        margin-left: 48px;
        padding-left: 20px;
        display: inline-block;
      }

      &.active {
        color: $white;
        background: $red;
        box-shadow: $glow;

        .toggle {
          left: auto;
          right: 2px;
          transition: left 0.2s;
        }

        .switcher-label {
          color: $white;
          padding-right: 20px;
          margin-right: 48px;
          margin-left: auto;
        }
      }

      .toggle {
        position: absolute;
        background: white;
        display: block;
        height: 28px;
        width: 28px;
        border-radius: 30px;
        top: 2px;
        left: 2px;
        z-index: 1;
        bottom: 2px;
        transition: left 0.2s;
        box-shadow: 0px 0px 5px #bbb;
      }
    }

    &.number-selector {
      background: transparent;
      display: block;
      overflow: hidden;
      padding: 0px;
      border: 1px solid transparent;

      input {
        border: 1px solid transparent;
        display: block;
        width: 100%;
        border-bottom: 1px solid $light-blue;
        outline: none;
        width: 150px;
      }

      .arrow-top {
      }

      .arrow-bottom {
      }
    }
  }
}
.option-link{
  font-size:13px;
}

.full-width{
  width:100%!important;
}

.col-mrg{

  margin-top:10px;
  margin-bottom:10px;
}


.pg-plate {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 0!important;

  .pagination {
    margin: 0px;
    align-items: center;
    margin-right: 10px;
  }

  .pagination-next, .pagination-last {
    display: block;
    height: 30px;
    background: $white;
    color: $light-blue;
    font-family: $global-font;
    outline:none;
    font-weight: $font-weight;
    border: 1px solid transparent;

    &:hover, &:active, &:focus, &.active {
      cursor: pointer;
      color: $red;
      transition: color 0.2s;
    }
  }

  .pagination-item {

    button {
      font-family: $global-font;
      font-weight: $font-weight;
      background-color: transparent;
      border: 1px solid transparent;
      width: 25px;
      height: 25px;
      margin-right:10px;
      margin-left:10px;
      color: $light-blue;
      outline: none;

      &:hover, &:active, &:focus, &.active {
        background-color: $red;
        box-shadow: $glow;
        cursor: pointer;
        color: $white;
        text-align: center;
        display: inline-block;
        line-height: 16px;
        font-size: 16px;
        border-radius: 30px;
        vertical-align: middle;
      }
    }
  }
}

.filter {
  .filter-text {
    font-size: 13px;
    font-weight: normal;
  }


  button {
    border: 1px solid transparent;
    background-color: #fff;
    outline: none;
    padding: 0px;
    margin-bottom:10px;
    font-weight: $font-weight;
    font-family: $global-font;
    font-size: 16px;

    .filter-indicator {
      display: inline-block;
      width: 30px;
      text-align: center;
      background: #eee;
      border-radius: 15px;
    }

    &:hover, &:active, &:focus, &.active {
      color: $light-blue;
      cursor: pointer;
    }
  }
}

.dropdown-block {
  position:relative;
  height:100%;


  .dropdown-list {
    display: none;
    position:absolute;
    top:100%;
    background-color:$white;
    padding:10px 15px;

  }

  &.open {
    .dropdown-list{
      display:block;
    }
  }
}


.dash_preloader{
  text-align:center;
}
